#cabecera{
  background-color: #03134e !important;
  color: white !important;

}

#menu{
  background-color: white !important;
  width: 90%;
  height: 100%;
  margin-top: 2%;
    box-shadow: 0px 2px 19px 5px rgba(184,151,184,0.70);
  border-radius: 28px 28px 28px 28px;
}

/*parte de la plantilla de admisnistrador*/
#body{

  background-color: #001348;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#recurso{
  text-align: center;
  color: white;
  margin-left: -3%;
  margin-top: 15%;
  box-shadow: 0px 2px 64px -11px rgba(237,239,245,1);
  border-radius: 20px 20px 20px 20px;
  width: 36%;
  transition-duration: 3s, 5s;
}
#recurso:hover{
  background-color: #edeff5;
  color: #022358;
}
#contenedorUsuario{
  margin-top: 2%;

  box-shadow: 0px 2px 19px 5px rgba(184,151,184,0.75);
}
#titulo{
  background-color: #022358;
  border-radius: 0px 0px 25px 25px;
  /*box-shadow: 0px 6px 21px 1px rgba(2,35,88,1);*/
}

#tituloText{
  color: white !important;
}

#areas{
  color: #03134e !important;
}

#modalEditar{
  color: white !important;

}
#modalCabecera{
  background-color: #172858;
  border-radius: 5px;
}

#colorUl{
 color: #001348 !important;
 font-weight: bold;
}

#colorUlsalir{
 color: red !important;
 font-weight: bold;
}


#btnguardar{
  margin-top: -5px;
}
#cerrar{
  background-color: yellow !important;
  color: red;
  border-radius: 40% !important;

}

#modalshow{
  background-color: #172858;
  border-radius: 5px;
}


#colorTabla{

  color: #001348 !important;
  font-weight: bold;
}


#iconito{

}







/**
 * Demo styles
 * Not needed for tooltips to work
 */

/* `border-box`... ALL THE THINGS! */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  
}

a:hover {
  text-decoration: none;
}

header,
.demo,
.demo p {
  margin: 4em 0;
  text-align: center;
}


/*botonera*/



/*BOTONES*/
/*estos son los botones de las principales acciones que se van a realizar */
.btn.btn-buscar{
  background-color: #37474f;
  color: white !important;
  font-weight: bold;
}

.btn.btn-aceptar{
  background-color: #2e7d32;
   color: white !important;
  font-weight: bold;
}
.btn.btn-eliminar{
  background-color: #dd2c00;
   color: white !important;
  font-weight: bold;
}

.btn.btn-guardar{
  background-color: #01579b;
   color: white !important;
  font-weight: bold;
}

.btn.btn-cancelar{
  background-color: #f57c00;
   color: white !important;
  font-weight: bold;
}


/*#880e4f*/
.btn.btn-editar{
  background-color: #999933;
   color: white !important;
  font-weight: bold;
}
.btn.btn-editar2{
  background-color: #880e4f;
   color: white !important;
  font-weight: bold;
}

.btn.btn-ver{
  background-color: #29b6f6;
   color: white !important;
  font-weight: bold;
}
.btn.btn-session{
  background-color: #03134e;
}

/*BOTONES ICONOS*/
/* son los botones de los iconos mas reconocidos*/
.btn.btn-iconos{
  background-color: #607d8b;
}























/**
 * Tooltip Styles
 */

/* agregar lo cambios del proyecto final */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;

}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  /* TRanciciones de stilo */
  transition-property: opacity, left, top, height;
  /*transition-duration: 3s, 5s;*/
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: blue;
  /*cambio de color del toltip*/
  background-color: #2E3D69;
   /*fin de color del toltip*/
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* son los estilos de las forma del triangulo*/
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}